@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');

.MMM-BornBeforeDate {
    font-family: "Droid Sans Mono";
    text-align: center;
}

.MMM-BornBeforeDate .date {
    font-weight: 600;
    font-size: 2em;
    padding: 0 auto;
    height: 60%;
    margin: 0 auto;
    width: 80%;
    background: #000;
    color: #fff;
    padding: 2px 10px;
    line-height: 105%;
    border-radius: 35px;
}
